# General
*.log
*.bak
*.tmp
logs

### IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
*.class
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Java / Spring
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/